.login_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_background img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 600px;
}
.login_form {
  font-size: 40px;
  color: white;
  top: 180px;
  position: relative;
}

.login_form input {
  border: solid 1px white;
  display: flex;
  color: black;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  text-align: left;
  padding-left: 10px;
}

.login_btn {
  text-align: center;
  color: black;
  border-radius: 5px;
  background-color: white;
  font-size: 25px;
  margin-top: 25px;
}
